<div class="container-fluid">
  <div class="card text-white bg-primary mb-4 w-25 mx-auto">
    <div class="card-header"><%= message.author.fullName %></div>
    <div class="card-body">
      <h4 class="card-title"><%= message.title %></h4>
      <p class="card-text"><%= message.text %></p>
    </div>
    <div class="card-footer text-muted">
      <p><%= message.formatedDate %></p>
    </div>
  </div>
</div>
