<div class="container mb-5">
  <h1><%= title %><span class="text-danger">.<span></h1>

  <% if (locals.template === 'index') { %>
    <% if (user) { %>
      <p>Hello <%= user.firstName %>.</p>
    <% } %>
    <h4 class="mb-3">The message board for <a href="/about">elite</a> individuals</h4>
    <a class="btn btn-primary" href="/message">Post New Message</a>
  <% } %>

</div>
